<div class="mt-4 col-8 offset-2">
    <div class="card">
        <div class="card-header">
            Reset Password
        </div>
        <div class="card-body" *ngIf="changePasswordForm.resetToken == null">
            <form #resetpswForm=ngForm (ngSubmit)="onSubmit()">
              <div>
                <div class="alert alert-success" *ngIf="successMessage">
                  {{successMessage}}
                </div>
                <div class="alert alert-danger" *ngIf="error">
                  {{error}}
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Enter registered email address</label>
                    <input type="email" name="email" [(ngModel)]="form.email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Enter email" required>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="!resetpswForm.valid">Send link for rest password</button>
              </div>
            </form>
        </div>
        <div class="card-body" *ngIf="changePasswordForm.resetToken != null">
            <form #changepswForm=ngForm (ngSubmit)="changePassword()">
                <div class="alert alert-success" *ngIf="successMessage">
                  {{successMessage}}
                </div>
                <div class="alert alert-danger" *ngIf="error">
                  {{error}}
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Enter registered email address</label>
                    <input type="email" name="email" [(ngModel)]="changePasswordForm.email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Enter email" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" name="password" [(ngModel)]="changePasswordForm.password" class="form-control" id="exampleInputPassword1" placeholder="Password" required minlength="5">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword2">Confirm Password</label>
                  <input type="password" name="password_confirmation" [(ngModel)]="changePasswordForm.password_confirmation" class="form-control" id="exampleInputPassword2" placeholder="Password" required minlength="5" (keyup)="checkPasswordConfirmed($event)" [ngClass]="{'not-confirmed': passwodNotConfirmed }">
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="!changepswForm.valid">Change password</button>
            </form>
        </div>
    </div>
</div>
